{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="w-full h-[100vh] p-20" style="background-image:url('{{ asset('images/background.png') }}'); background-repeat: no-repeat; background-attachment: fixed; background-position: center;"> 

<h2 id="msg" style='font-weight: 700; font-size: x-large;'></h2>
</div>

{% endblock %}

{% block javascripts %}

    {{ encore_entry_script_tags('app') }}
    
    <script>

    const a = `{
    "glossary": {
        "title": "example glossary",
		"GlossDiv": {
            "title": "S",
			"GlossList": {
                "GlossEntry": {
                    "ID": "SGML",
					"SortAs": "SGML",
					"GlossTerm": "Standard Generalized Markup Language",
					"Acronym": "SGML",
					"Abbrev": "ISO 8879:1986",
					"GlossDef": {
                        "para": "A meta-markup language, used to create markup languages such as DocBook.",
						"GlossSeeAlso": ["GML", "XML"]
                    },
					"GlossSee": "markup"
                }
            }
        }
    }
}`;

    


      const userJwtToken = 'demoSecretKey';

      /* Mercure Protocol */
      // mercure() : is a twig function using env(MERCURE_PUBLIC_URL) and
      // producing this :  http://localhost/.well-known/mercure?topic=https%3A%2F%2Fexample.com%2Fbooks%2F1
    //console.log("{{ 'äöü<p>'|escape }}"); // äöü&lt;p&gt;
    //console.log("{{ '<script>alert()</script>'|escape('js') }}"); // \u003Cscript\u003Ealert\u0028\u0029\u003C\/script\u003E
      const eventSource = new EventSource("{{ mercure('https://example.com/books/1')|escape('js') }}",
      {
        withCredentials: true,
        headers: {
            Authorization: `Bearer ${userJwtToken}`,
        }
      });
      eventSource.onmessage = event => {
        // Will be called every time an update is published by the server
        message = JSON.parse(event.data).status;
        document.getElementById('msg').innerHTML += message += '<br>';
      }
       
    </script>

{% endblock %}