<nav class="bg-blue-900 dark:bg-gray-800">
    <div class="flex mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 justify-between">
        <!-- left menu horizontal -->        
        <!-- Logo -->
        <a href="{{ url('app_product') }}" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="{{ asset('images/Warner_Bros_logo.png')}}" class="h-10" alt="Flowbite Logo" />
        </a>
        <div class="flex items-center my-auto">                
            <!-- Mobile menu button-->
            <button type="button" id="mobile-btn"
                class="md:hidden relative items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white"
                aria-controls="mobile-menu" aria-expanded="false">
                <svg class="block size-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
            <!-- menu items-->           
            <div class="md:flex items-center hidden justify-start">
                <div class="hidden sm:block">
                    <div class="flex space-x-4 w-96">
                        <a href="/news"
                            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">
                            News Api
                        </a>
                        <a href="/publish"
                            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">
                            Publish Mercure
                        </a>
                        <a href="/client"
                            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">
                            Client Mercure
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- right menu horizontal -->
        <div class="flex flex-row justify-end space-x-6">
            <!-- Github -->
            <div class="my-auto text-white">
                <a href="https://github.com/tomatoweb/symfony-tailwind" target="_blank"
                    class="flex axil-btn btn-fill-primary h-10 w-32 justify-between text-white">
                    <span class="">
                        <img alt='' class="w-8 mt-[1.19rem]" src="images/DoubleChevron.svg" />
                    </span>
                    <span class="mr-2 text-white">
                        Code on
                    </span>
                    <img alt='' class="w-6" src="images/Github.png" />
                </a>
            </div>
            <!-- Profile -->
            <div class="py-4 px-2 relative ml-3">
                <div>
                    <button type="button"
                        class="relative flex rounded-full bg-blue-900 dark:bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                        id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                        {% if app.user %}
                            <img id="user-img" class="size-8 rounded-full" src="{{ asset('images/user.png') }}" alt="">
                        {% else %}
                            <img id="user-img" class="size-8 rounded-full text-red-500" src="{{ asset('images/noAvatar.png') }}" alt="">
                        {% endif %}
                    </button>
                </div>
                <div x-show="open = true"
                    class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black/5 focus:outline-none transition ease-in-out duration-500 opacity-0"
                    role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" id="user-menu"
                    tabindex="-1">
                    {% if app.user %}
                        <a href="#" class="block px-4 py-2 text-xs text-violet-800 pointer-events-none" role="menuitem"
                            tabindex="-1" id="user-menu-item-0">
                            {{ app.user.email }}
                        </a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 pointer-events-none" role="menuitem"
                            tabindex="-1" id="user-menu-item-0">
                            Your Profile
                        </a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 pointer-events-none" role="menuitem"
                            tabindex="-1" id="user-menu-item-1">
                            Settings
                        </a>
                        <a href="/logout" class="block px-4 py-2 text-sm text-gray-700 pointer-events-none" role="menuitem"
                            tabindex="-1" id="user-menu-item-2">
                            Sign out
                        </a>
                    {% else %}
                        <a href="/login" class="block px-4 py-2 text-sm text-gray-700 pointer-events-none" role="menuitem"
                        tabindex="-1" id="user-menu-item-2">
                            Log in
                        </a>

                        <a href="/register" class="block px-4 py-2 text-sm text-gray-700 pointer-events-none" role="menuitem"
                        tabindex="-1" id="user-menu-item-2">
                            Register
                        </a>
                    {% endif %}
                </div>
            </div>
            <!-- Card button -->
            <div class="py-4 px-2relative ml-5">
                <button class="relative flex rounded-full  text-gray-400 bg-blue-900 dark:bg-gray-800" type="button"
                    id="card-button" aria-expanded="false" aria-haspopup="true">
                    <svg class="h-[2.2rem] w-[2.2rem] pointer-events-none " aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6" />
                    </svg>
                    {% if app.user %}
                    <div
                        class="absolute -top-1 -right-4 rounded-full w-6 h-6  bg-red-700 text-gray-100 text-sm flex items-center justify-center pointer-events-none">
                        8
                    </div>
                    {% endif %}
                </button>
            </div>
            <!-- Card -->
            <div id="card"
                class=" opacity-0 pointer-events-none absolute w-96 p-4 rounded-md shadow-[0_3px_10px_rgb(0,0,0,0.2)] top-12 right-0 flex flex-col gap-6 z-20 bg-white transition ease-in-out duration-500">
                <h2 class="text-xl">Shopping Cart</h2>
                <div class="flex flex-col gap-8">
                    <div class="flex gap-4 w-min">
                        <img src="https://images.pexels.com/photos/28486840/pexels-photo-28486840/free-photo-of-cafe-et-the-turcs-sur-un-plateau-traditionnel.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
                            alt="" class="object-cover rounded-md h-40" />
                        <div class="flex flex-col justify-between w-full">
                            <div>
                                <div class="flex justify-between items-center gap-8">
                                    <h3 class="font-semibold">Product Name</h3>
                                    <div class="p-1 bg-gray-50 rounded-sm">$49.5</div>
                                </div>
                                <div class="text-sm text-gray-500">
                                    available
                                </div>
                            </div>
                            <div class="flex justify-between text-sm">
                                <span class="text-gray-500">Qty. 2</span>
                                <span class="text-blue-500">Remove</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex gap-4 w-min">
                        <img src="https://images.pexels.com/photos/28486840/pexels-photo-28486840/free-photo-of-cafe-et-the-turcs-sur-un-plateau-traditionnel.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
                            alt="" class="object-cover rounded-md h-40" />
                        <div class="flex flex-col justify-between w-full">
                            <div>
                                <div class="flex justify-between items-center gap-8">
                                    <h3 class="font-semibold">Product Name</h3>
                                    <div class="p-1 bg-gray-50 rounded-sm">$49.5</div>
                                </div>
                                <div class="text-sm text-gray-500">
                                    available
                                </div>
                            </div>
                            <div class="flex justify-between text-sm">
                                <span class="text-gray-500">Qty. 2</span>
                                <span class="text-blue-500">Remove</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="flex justify-between items-center font-semibold">
                        <span>SubTotal</span>
                        <span>$49.5</span>
                    </div>
                    <div class="text-gray-500 text-sm mt-2 mb-4">
                        Shipping and taxes calculated at checkout.
                    </div>
                    <div class="flex justify-between items-center text-sm">
                        <button class="rounded-md px-4 py-3 ring-1 ring-gray-300">View Cart</button>
                        <button class="rounded-md bg-black text-white px-4 py-3">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Toggle menu -->
    <div class="hidden absolute bg-slate-500 w-44 rounded-md left-20" id="mobile-menu">
        <div class="space-y-1 px-2 pb-3 pt-2">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/news"
                class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">
                News Api
            </a>
            <a href="/publish"
                class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">
                Publish Mercure
            </a>
            <a href="/client"
                class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">
                Client Mercure
            </a>
        </div>
    </div>
</nav>